#areyousure {
    display: grid;
    place-items: center;

    border: 4px solid gold;
    border-style: double;
    padding: 1em 1em;
    background-color: blanchedalmond;

    margin: 5em;
}
#delete-div {
    margin: auto 22%;
    padding: 2em 2em;
}