ul {
    list-style: none;
}

#nav-bar {
    border: black 1px dotted;
}

#rewards-number {
    display: flex;
    justify-content: flex-start;
}

.login-logout {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    
}
