.order-history-div {
    display: grid;
    place-items: center;
    margin: 1em 1em;
}

#latte-order {
    border: 4px solid gold;
    border-style: double;
    padding: 1em 1em;
    background-color: blanchedalmond;
}

p {
    margin: -.15em;
}

button {
    margin-top: 1.5em;
}
