#entire-drink-form {
    border: black 1px dotted;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.drink-form {
    
    flex: auto;
    flex-direction: column;
    margin: auto 35%; 
    padding: 1.5%;
    border: 4px solid gold;
    border-style: double;
    
    background-color: blanchedalmond;
}

#drink-order-btn {
    display: display;
    justify-content: right;
    
}